{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/home.css' %}?v={{ STATIC_VERSION }}">
{% endblock 'head' %}

{% block 'body' %}
<header>
    <nav>
      <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Vantagens</a></li>
        <li><a href="#">Depoimentos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <div class="auth-buttons">
        <button class="login"><a href="{% url "login" %}">Login</a></button>
        <button class="register"><a href="{% url "register" %}">Registrar</a></button>
      </div>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h1>Advocatus</h1>
      <p>A melhor alternativa para gerenciamentos de processos.</p>
      <div class="cta-buttons">
        <button>Sobre nós</button>
        <button>Planos</button>
      </div>
    </section>
  </main>

{% endblock 'body' %}