{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
</head>
<body>

<header class="navbar-header">
    <nav class="navbar-nav">
        <ul>
            <li><a href="{% url "app" %}">Início</a></li>
            <li><a href="{% url "processes" %}">Processos</a></li>
            <li><a href="{% url "clients_home" %}">Clientes</a></li>
            {% comment %} <li><a href="#">Relatórios</a></li> {% endcomment %}
            {% comment %} <li><a href="{% url "agenda" %}">Agenda</a></li> {% endcomment %}
            {% comment %} <li><a href="#">Financeiro</a></li> {% endcomment %}
            <li><a href="{% url "logout" %}">Logout</a></li>
        </ul>
    </nav>
    <div class="user-icon">
        <span>&#128100;</span>
    </div>
</header>

</body>
</html>
