{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'clients/css/client_register.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/navbar.html" %}
  <main>
    <section class="hero">
      <h1>Clientes</h1>
      <div class="cta-buttons">
      </div>
    </section>

    <button class="register"><a href="{% url "clients_register" %}">Registrar</a></button>
  </main>
{% endblock 'body' %}
