{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'clients\css\client_home.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/navbar.html" %}
  <main>
    <section class="hero">
      <h1>Clientes</h1>
      <p>Permite visualizar informações dos clientes e adicionar novos clientes</p>
    </section>

    <section class="client-info">
      <h2>Informação dos clientes</h2>
      <div class="info-box"></div>
      <button class="register"><a href="{% url "clients_register" %}">Adicionar cliente</a></button>
    </section>
  </main>
{% endblock 'body' %}
