{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'clients\css\client_home.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/navbar.html" %}

<header class="process-header">
  <h1>Clientes</h1>
  <p>Permite visualizar informações dos clientes existentes e a adicionar novos.</p>
</header>

  <main class="container">

    <section class="client-info">
      <h2>Informação dos clientes</h2>
      <table class="client-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Número</th>
            <th>Date de nascimento</th>
            <th>CPF</th>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>Cargo</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.number }}</td>
            <td>{{ client.birthdate }}</td>
            <td>{{ client.document_id }}</td>
            <td>{{ client.zip_code }}</td>
            <td>{{ client.adress }}</td>
            <td>{{ client.state }}</td>
            <td>{{ client.city }}</td>
            <td>{{ client.birthdate }}</td>
            <td>{{ client.role }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button class="add-process"><a href="{% url "clients_register" %}">Adicionar cliente</a></button>
    </section>
  </main>
{% endblock 'body' %}
