{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'clients/css/cr.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/navbar.html" %}
<header class="process_register-header">
    <h1>Processos</h1>
    <p>Permita gerenciar processos jurídicos.</p>
</header>

<div class="container">
    {% if messages %}
        {% for message in messages %}
          <section class="alert {{message.tags}}">{{message}}</section>
        {% endfor %}
    {% endif %}
    <form method='POST' class="form-container">{% csrf_token %}
        <input type="text" name="tipo" placeholder="Tipo" required>
        <input type="text" name="titulo" placeholder="Título" required>
        <input type="text" name="tipo_acao" placeholder="Tipo de ação/assunto" required>
        <input type="text" name="cliente" placeholder="Cliente" required>
        <input type="text" name="contrario" placeholder="Contrário" required>
        <input type="text" name="numero_pasta" placeholder="Número da pasta" required>
        <input type="text" name="numero_cnj" placeholder="Número (CNJ)" required>
        <input type="text" name="detalhes_pasta" placeholder="Detalhes da pasta" required>
        <input type="text" name="advogado" placeholder="Advogado" required>
        <input type="text" name="push_andamentos" placeholder="Push andamentos" required>
        <input type="text" name="comarca" placeholder="Comarca" required>
        <input type="text" name="juiz" placeholder="Juiz" required>

        <input type="text" name="tribunal" placeholder="Tribunal/Órgão" required>

        <input type="text" name="vara" placeholder="Vara/Turma" required>

        <input type="number" name="valor_causa" placeholder="R$ Causa" step="0.1" min="0" required>
        <input type="number" name="valor_possivel" placeholder="R$ Possível" step="0.1" min="0" required>
        <input type="number" name="valor_provisionado" placeholder="R$ Provisionado" step="0.1" min="0" required>
        <button class="submit-button" type="submit">Salvar</button>
    </form>
</div>

{% endblock 'body' %}
