{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'processes/css/register_process.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/navbar.html" %}
<header class="process_register-header">
    <h1>Clientes</h1>
    <p>Permite visualizar informações dos clientes existentes e a adicionar novos.</p>
</header>

<form method='POST' class="form-container">{% csrf_token %}
  <input type="text" name="nome" placeholder="Nome" required>
  <input type="text" name="telefone" placeholder="Telefone" required>
  <input type="text" name="datanascimento" placeholder="Data de nascimento" required>
  <input type="text" name="cpf_cpnj" placeholder="CPF ou CNPJ" required>
  <input type="text" name="cep" placeholder="CEP" required>
  <input type="text" name="logradouro" placeholder="Logradouro" required>
  <input type="text" name="estado" placeholder="Estado" required>
  <input type="text" name="cidade" placeholder="Cidade" required>
  <input type="text" name="bairro" placeholder="Bairro" required>
  <input type="text" name="cargoempresa" placeholder="Cargo na empresa" required>

  <button class="submit-button" type="submit">Salvar</button>
</form>

{% endblock 'body' %}