{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'appointment_calendar/css/add_commitment_page_styles.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include 'partials/navbar.html' %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <h2>Compromisso</h2>

        <div class="time-section">
            <div>
                <label for="hora_inicio">Hora - Início</label>
                <input type="time" id="hora_inicio" name="hora_inicio" required>
            </div>
            <div>
                <label for="hora_fim">Hora - Fim</label>
                <input type="time" id="hora_fim" name="hora_fim" required>
            </div>
        </div>

        <label for="processo">Processo vinculado ao compromisso</label>
        <input type="text" id="processo" name="processo" required>

        <label for="local">Local</label>
        <input type="text" id="local" name="local" required>

        <label for="observacoes">Observações</label>
        <textarea id="observacoes" name="observacoes" rows="5"></textarea>

        <button type="submit">Salvar</button>
    </form>
</div>
{% endblock 'body' %}
