{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'appointment_calendar/css/add_commitment_page_styles.css' %}?v={{ STATIC_VERSION }}">
{% endblock 'head' %}

{% block 'body' %}
{% include 'partials/navbar.html' %}
<main>
    <section class="commitment-section">
        <h1 class="commitment-title">Compromisso - {{ selected_date }}</h1>
        <form class="commitment-form" action="{{ form_action }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ selected_date }}">
    
            <div class="time-section">
                <div class="time-input-group">
                    <label class="time-label" for="hora_inicio">Hora - Início</label>
                    <input class="time-input" type="time" id="hora_inicio" name="hora_inicio" value="{{ hora_inicio }}" required>
                </div>
                <div class="time-input-group">
                    <label class="time-label" for="hora_fim">Hora - Fim</label>
                    <input class="time-input" type="time" id="hora_fim" name="hora_fim" value="{{ hora_fim }}" required>
                </div>
            </div>
    
            <label class="input-label" for="processo">Processo vinculado ao compromisso</label>
            <input class="text-input" type="text" id="processo" name="processo" value="{{ processo }}" required>
    
            <label class="input-label" for="local">Local</label>
            <input class="text-input" type="text" id="local" name="local" value="{{ local }}" required>
    
            <label class="input-label" for="observacoes">Observações</label>
            <textarea class="observations-textarea" id="observacoes" name="observacoes" rows="5">{{ observacoes }}</textarea>
    
            <button class="submit-button" type="submit">Salvar</button>
        </form>
    </section>
</main>
{% endblock 'body' %}
