{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Adicionar Despesa do Processo</title>
<link rel="stylesheet" href="{% static "finances/css/register-finances.css" %}">
<link rel="stylesheet" href="{% static 'clients\css\client_home.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock 'head' %}

{% block 'body' %}
  <header class="process-header">
    <h1>Financeiro</h1>
    <p>Permite visualizar e adicionar despesas.</p>
  </header>

  <div class="form-button-container">
    <button id="toggle-form" class="form-button">Adicionar Nova Despesa</button>
    <button id="close-form" class="form-button">Fechar</button>
  </div>

  <div id="overlay" class="overlay"></div>

  <form method="POST" id="expense-form" class="form-container">
    <textarea placeholder="Descrição do Gasto" id="description" name="description" rows="3" class="form-input" required></textarea><br><br>

    <select class="form-input" name="process_title" required>
        <option value="" disabled selected>Selecione o titulo do processo</option>
        {% for process in processes %}
            <option value="{{process.titulo}}">{{process.titulo}}</option>
        {% endfor %}
    </select>
    
    <input placeholder="Valor" type="number" id="amount" name="amount" step="0.01" class="form-input" required><br><br>

    <input placeholder="Data da Despesa" type="date" id="expense_date" name="expense_date" class="form-input" required><br><br>

    <select id="expense_type" name="expense_type" class="form-input" required>
      <option value="" disabled selected>Selecione o Tipo Despesa:</option>
      {% for type in expense_types %}
        <option value="{{type.0}}">{{type.1}}</option>
      {% endfor %}
    </select><br><br>

    <button class="submit-button" type="submit">Salvar</button>
  </form>

  <main class="container">
    <section class="expense-info">
      <h2>Despesas</h2>
        <table class="expense-table">
          <thead>
            <tr>
              <th>Processo Associado</th>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Data da Despesa</th>
              <th>Tipo de Despesa</th>
            </tr>
          </thead>
          <tbody>
            {% for expense in expenses %}
            <tr>
              <td>{{ expense.name }}</td>
              <td>{{ expense.description }}</td>
              <td>R$ {{ expense.amount }}</td>
              <td>{{ expense.expense_date }}</td>
              <td>{{ expense.expense_type }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </section>
  </main>



  <script src="{% static "finances/js/forms-visibility.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock 'body' %}