section {
    width: 35%;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 2%;
}

.time-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.time-section div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="time"],
input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

button {
    display: block;
    padding: 10px;
    margin: auto;
    width: 30%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}