/* Reseta margens e paddings, define a fonte padrão */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  width: 100%;
}

.chart-container {
  width: 50%;
  /* Define a largura do gráfico como 50% do contêiner pai */
  margin: 0 auto;
  /* Centraliza o gráfico na página */
  padding: 20px;
  /* Adiciona um espaço em torno do gráfico */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Adiciona sombra para um efeito de profundidade */
  background-color: #fff;
  /* Define uma cor de fundo para o contêiner */
  border-radius: 8px;
  /* Arredonda os cantos do contêiner */
  margin-bottom: 10px;
}

/* Estilo do cabeçalho */
#page-title {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 0;
  font-size: 24px;
}

/* Estilo do overlay */
.overlay {
  position: fixed;
  /* Faz com que o overlay cubra toda a tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Cor do fundo com transparência */
  display: none;
  /* Oculta o overlay por padrão */
  z-index: 1000;
  /* Garante que o overlay esteja acima do conteúdo da página */
}

/* Estilo do formulário */
.form-container {
  position: fixed;
  /* Faz com que o formulário fique fixo na tela */
  top: 50%;
  /* Centraliza verticalmente */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* Ajusta a posição para o centro exato */
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  z-index: 1001;
  /* Garante que o formulário esteja acima do overlay */
  display: none;
  /* Oculta o formulário por padrão */
}

/* Estilo para todos os campos de formulário */
.form-input {
  font-family: Arial;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

/* Estilo para os placeholders */
.form-input::placeholder {
  color: #999;
  font-style: italic;
}

/* Estilo de foco para campos */
.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo do botão de envio */
.submit-button {
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
}

.submit-button:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para campos de valor monetário */
.form-input {
  -moz-appearance: textfield;
}

.form-input::-webkit-inner-spin-button,
.form-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input:focus {
  -moz-appearance: number-input;
}

.form-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 10px;
}

/* Estilos para botões de alternar */
#toggle-form,
#close-form {
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#toggle-form {
  display: block;
  /* Inicialmente visível */
}

#close-form {
  display: none;
  margin-top: 10px;
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  z-index: 1002;
  /* Garante que o botão de fechar esteja acima do formulário e do overlay */
}

/* Estilo dos botões de controle do formulário */
.form-button {
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
  border-radius: 10px;
}

.form-button:hover{
  background-color: #333; /* Cor de fundo ao passar o mouse */
  transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1); /* Aumenta a sombra ao passar o mouse */
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .form-container {
    padding: 20px;
    width: 100%;
  }

  .form-input {
    margin-bottom: 10px;
  }

  .submit-button {
    padding: 10px;
    font-size: 14px;
  }
}