/* Reseta margens e paddings, define a fonte padrão */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  width: 100%;
}

.chart-container {
  width: 50%;
  /* Define a largura do gráfico como 50% do contêiner pai */
  margin: 0 auto;
  /* Centraliza o gráfico na página */
  padding: 20px;
  /* Adiciona um espaço em torno do gráfico */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Adiciona sombra para um efeito de profundidade */
  background-color: #fff;
  /* Define uma cor de fundo para o contêiner */
  border-radius: 8px;
  /* Arredonda os cantos do contêiner */
  margin-bottom: 10px;
}