body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.process-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.process-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.process-header p {
  font-size: 16px;
  color: #ccc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
.add-process {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.add-process:hover {
  background-color: #0056b3;
}
a {
  text-decoration: none;
  color: white;
}