{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'processes/css/register_process.css' %}">
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/navbar.html" %}
<header class="process_register-header">
    <h1>Editar Processo</h1>
    <p>Atualize as informações do processo jurídico.</p>
</header>

<div class="container">
    {% if messages %}
        {% for message in messages %}
          <section class="alert {{message.tags}}">{{message}}</section>
        {% endfor %}
    {% endif %}
    <form method='POST' class="form-container">{% csrf_token %}
        <input type="text" name="tipo" value="{{ process.tipo }}" placeholder="Tipo" required>
        <input type="text" name="titulo" value="{{ process.titulo }}" placeholder="Título" required>
        <input type="text" name="tipo_acao" value="{{ process.tipo_acao }}" placeholder="Tipo de ação/assunto" required>

        <select name="cliente" required>
            <option value="" disabled>Cliente</option>
            {% for client in clients %}
                <option value="{{client.name}}" {% if client.name == process.cliente.name %}selected{% endif %}>{{client.name}}</option>
            {% endfor %}
        </select>

        <input type="text" name="contrario" value="{{ process.contrario }}" placeholder="Contrário" required>
        <input type="text" name="numero_pasta" value="{{ process.numero_pasta }}" placeholder="Número da pasta" required>
        <input type="text" name="numero_cnj" value="{{ process.numero_cnj }}" placeholder="Número (CNJ)" required>
        <input type="text" name="detalhes_pasta" value="{{ process.detalhes_pasta }}" placeholder="Detalhes da pasta" required>
        <input type="text" name="advogado" value="{{ process.advogado }}" placeholder="Advogado" required>
        <input type="text" name="push_andamentos" value="{{ process.push_andamentos }}" placeholder="Push andamentos" required>
        <input type="text" name="comarca" value="{{ process.comarca }}" placeholder="Comarca" required>
        <input type="text" name="juiz" value="{{ process.juiz }}" placeholder="Juiz" required>

        <select name="risco" required>
            <option value="" disabled>Selecione o risco</option>
            {% for risco in riscos %}
                <option value="{{risco.0}}" {% if risco.0 == process.risco %}selected{% endif %}>{{risco.1}}</option>
            {% endfor %}
        </select>

        <input type="text" name="tribunal" value="{{ process.tribunal }}" placeholder="Tribunal/Órgão" required>

        <select name="uf" required>
            <option value="" disabled>Selecione o estado (UF)</option>
            {% for uf in ufs %}
                <option value="{{uf.0}}" {% if uf.0 == process.uf %}selected{% endif %}>{{uf.1}}</option>
            {% endfor %}
        </select>

        <select name="instancia" required>
            <option value="" disabled>Selecione a instância</option>
            {% for instancia in instacias %}
                <option value="{{instancia.0}}" {% if instancia.0 == process.instancia %}selected{% endif %}>{{instancia.1}}</option>
            {% endfor %}
        </select>

        <input type="text" name="vara" value="{{ process.vara }}" placeholder="Vara/Turma" required>

        <input name="valor_causa" value="{{ process.valor_causa }}" placeholder="R$ Causa" step="0.1" min="0" required>
        <input name="valor_possivel" value="{{ process.valor_possivel }}" placeholder="R$ Possível" step="0.1" min="0" required>
        <input name="valor_provisionado" value="{{ process.valor_provisionado }}" placeholder="R$ Provisionado" step="0.1" min="0" required>
        <button class="submit-button" type="submit">Salvar</button>
    </form>
</div>
{% endblock 'body' %}
