{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'processes/css/process.css' %}">
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
{% endblock 'head' %}


{% block 'body' %}
{% include 'partials/navbar.html' %}
    {% if messages %}
        {% for message in messages %}
          <section class="alert {{message.tags}}">{{message}}</section>
        {% endfor %}
    {% endif %}
<header class="process-header">
    <h1>Processos</h1>
    <p>Seus Processos.</p>
</header>

<div class="container">
    <h2>Seus Processos</h2>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Cliente</th>
                <th>Comarca</th>
                <th>Advogado</th>
                <th>Valor da Causa</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for process in processes %}
            <tr>
                <td>{{ process.titulo }}</td>
                <td>{{ process.cliente.name }}</td>
                <td>{{ process.comarca }}</td>
                <td>{{ process.advogado }}</td>
                <td>R$ {{ process.valor_causa }}</td>

                <td>
                    <a href="{% url 'process_edit' process.id %}" class="action-link" title="Editar">
                      
                        <button class="submit-button" type="submit">Editar Processo</button>
                    </a>
                    <a href="{% url 'process_delete' process.id %}" class="action-link" onclick="return confirm('Você tem certeza que deseja excluir este processo?');" title="Excluir">
                        
                        <button class="submit-button" type="submit">Deletar Processo</button>
                    </a>
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum processo encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url "process_register" %}"><button class="add-process">Adicionar processos</button></a>
</div>
{% endblock 'body' %}

